
body {
    margin: 0;
    padding: 16px;
    height: 100vh;
    background-color: #ffccff;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display', serif;
}

.valentines_card {
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 1.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.front_img, .inside_img {
    width: 100%;
    max-width: 450px;
    height: auto;
    margin: 0 auto;
    border-radius: 12px;
    transition: transform 1s ease;
}

.front_text, .inside_text {
    color: #A60657;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.front_card, .inside_card {
    position: relative;
    overflow: hidden;
    transform-origin: left;
    margin: 40px auto;
    padding: 16px;
    background-color: #f8d9e1;
    text-align: center;
    box-shadow: 0 24px 40px -8px #ff1493;
    width: 100%;
    max-width: 450px;
    height: 700px;
    border-radius: 15px;
}

.valentines_card:hover .front_card {
    transform: rotateY(-160deg);
}

.valentines_card:hover .front_img {
    transform: scale(0.95);
}

.valentines_card:hover .front_text {
    display: none;
}

.inside_card audio {
    display: flex;
    margin-left: 50px;
    margin-right: 40px;
}

.valentines_card audio {
    display: none;
}

.valentines_card:hover .inside_card audio {
    display: block;
}

@keyframes fall {
    0% {
        transform: translateY(-100px) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

.petal {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff4081;
    transform: rotate(-45deg);
    animation: fall 4s ease-in infinite;
}

.petal::before, .petal::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff4081;
    border-radius: 50%;
}

.petal::before {
    left: 0;
    top: -10px;
}

.petal::after {
    left: 10px;
    top: 0;
}


@media (max-width: 768px) {
    .front_text, .inside_text {
        font-size: 18px;
    }

    .front_card, .inside_card {
        width: 90%;
        height: auto;
        margin: 20px auto;
    }

    .front_img, .inside_img {
        width: 100%;
    }

    .petal {
        width: 15px;
        height: 15px;
    }
}

/* Smaller screen sizes */
@media (max-width: 480px) {
    .front_text, .inside_text {
        font-size: 16px;
    }

    .front_card, .inside_card {
        width: 95%;
        height: auto;
    }

    .front_img, .inside_img {
        width: 100%;
    }

    .petal {
        width: 10px;
        height: 10px;
    }
}
