body {
    margin: 0;
    padding: 16px;
    height: 100vh;
    background-color: #ffccff;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display', serif;
}

.valentines_card {
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: transform 1.5s ease-in-out;
}

.front_card, .inside_card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front_img, .inside_img {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    position: relative;
    border-radius: 12px;
    transition: transform 1s ease;
}

.front_text, .inside_text {
    color: #A60657;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.front_card {
    transform: rotateY(0deg);
    background-color: #f8d9e1;
    text-align: center;
    box-shadow: 0 24px 40px -8px #ff1493;
    width: 450px;
    height: 700px;
    border-radius: 15px;
}

.inside_card {
    transform: rotateY(180deg);
    background-color: #f8d9e1;
    text-align: center;
    box-shadow: 0 24px 40px -8px #ff1493;
    width: 450px;
    height: 700px;
    border-radius: 15px;
}

.valentines_card:hover .front_card {
    transform: rotateY(-180deg);
}

.valentines_card:hover .inside_card {
    transform: rotateY(0deg);
}

.inside_card audio {
    display: flex;
    margin-left: 50px;
    margin-right: 40px;
    width: 80%;
}

@media (max-width: 768px) {
    .valentines_card {
        width: 100%;
        max-width: 350px;
    }
    
    .front_img, .inside_img {
        max-width: 100%;
    }

    .front_text, .inside_text {
        font-size: 18px;
    }

    .inside_card audio {
        width: 100%;
    }
}
